<h2>Skater List</h2>


<% form_tag(url_for(:skaters, :list), method: 'post') do %>

<!-- Category -->
<%= partial :select_form, locals: {label: "Category", tag: :category, options: ['MEN', 'LADIES']} %>

<!-- Nation -->
<% nations = [Score.select(:nation).distinct.to_a.map {|n| n.nation}].flatten %>
<%= partial :select_form, locals: {label: "Nation", tag: :nation, options: nations} %>

<%= partial :submit_form %>

<% end %>


<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>ID</th>
    <th>Skater</th>
    <th>Nation</th>
    <th>Category</th>
    <th>ISU Number</th>
    <th>Birthday</th>
    <th>Hobbies</th>
    <th>Height</th>
    <th>Club</th>
    <th>Coach</th>
    <th>Choreographer</th>
  </tr>
  <% skaters.each do |skater| %>
  <tr>
    <td><%= skater.id %></td>
    <td><%= link_to(skater.name, "/skaters/name/#{skater.name}") %><!-- %= link_to(skater.skater, url_for(:skaters, :show, name: skater.skater)) % --></td>
    <td><%= skater.nation %></td>
    <td><%= skater.category %></td>
    <td><%= link_to(skater.isu_number, skater.isu_bio) %></td>
    <td><%= skater.birthday %></td>    
    <td><%= skater.hobbies %></td>        
    <td><%= skater.height %></td>        
    <td><%= skater.club %></td>        
    <td><%= skater.coach %></td>    
    <td><%= skater.choreographer %></td>    
  </tr>
  <% end %>
</table>
