<h2>Skater List</h2>


<% form_tag(url_for(:skaters, :list), method: 'post') do %>

<!-- Category -->
<%= partial :select_form, locals: {tag: :category, options: Skater.select(:category).distinct.map(&:category)} %>

<!-- Nation -->
<% nations = Score.select(:nation).distinct.map(&:nation) %>
<%= partial :select_form, locals: {tag: :nation, options: nations} %>
<%= partial :select_form, locals: {tag: :format, options: [:csv, :html]} %>
<%= partial :submit_form %>

<% end %>


<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>ID</th>
    <th>Skater</th>
    <th>Nation</th>
    <th>Category</th>
    <th>ISU Number</th>
    <th>Birthday</th>
    <th>Height</th>
    <th>Club</th>
    <th>Coach</th>
    <th>Choreographer</th>
  </tr>
  <% skaters.each do |skater| %>
  <% next if skater.name.blank? %>
  <tr>
    <td><%= skater.id %></td>
    <td><%= link_to(skater.name, url_for(:skaters, :name, name: skater.name)) %></td>
    <td><%= link_to(skater.nation, url_for(:skaters, :list, "nation:#{skater.nation}")) %></td>
    <td><%= link_to(skater.category, url_for(:skaters, :list, "category:#{skater.category}")) %></td>
    <td><%= link_to(skater.isu_number, skater.isu_bio) %></td>
    <td><%= skater.birthday %></td>    
    <td><%= skater.height %></td>        
    <td><%= skater.club %></td>        
    <td><%= skater.coach %></td>    
    <td><%= skater.choreographer %></td>    
  </tr>
  <% end %>
</table>
