<!-- locals: skater -->

<h2>Skater Info</h2>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>ID</th>
    <td><%= skater.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= skater.name %></td>
  </tr>
  <tr>
    <th>Nation</th>
    <td><%= skater.nation %></td>
  </tr>
  <tr>
    <th>Category</th>
    <td><%= skater.category %></td>
  </tr>
  <tr>
    <th>ISU Number</th>
    <td><%= link_to(skater.isu_number, skater.isu_bio, target: '_blank') %></td>
  </tr>
  <tr>
    <th>Club</th>
    <td><%= skater.club %></td>
  </tr>
  <tr>
    <th>Coach</th>
    <td><%= skater.coach %></td>
  </tr>
  <tr>
    <th>Choreographer</th>
    <td><%= skater.choreographer %></td>
  </tr>
</table>
</div>

<h2>Competition Results</h2>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Competition</th>
    <th>Date</th>    
    <th>Rank</th>    
    <th>Points</th>    
    <th>SP Rank</th>    
    <th>TSS</th>    
    <th>FS Rank</th>    
    <th>TSS</th>    
  </tr>
  <% ar = CategoryResult.where(skater_name: skater.name).select(:competition_id, :rank, :points) %>
  <% ar.sort {|a, b| b.competition.start_date <=> a.competition.start_date }.each do |result| %>
  <tr>
    <td><%= link_to(result.competition.name, url_for(:competitions, :id, id: result.competition.id)) %></td>
    <td><%= result.competition.start_date %></td>
    <td><%= result.rank %></td>
    <td><%= result.points %></td>
    
    <% if sp_elem = result.competition.scores.where(skater_name: params[:name]).where("segment like(?)", "%SHORT%").first %>
    <td><%= sp_elem.rank %></td>
    <td><%= sp_elem.tss %></td>
    <% else %>
    <td></td><td></td>
    <% end %>

    <% if fs_elem = result.competition.scores.where(skater_name: params[:name]).where("segment like(?)", "%FREE%").first %>
    <td><%= fs_elem.rank %></td>
    <td><%= fs_elem.tss %></td>
    <% else %>
    <td></td><td></td>
    <% end %>
  </tr>
  <% end %>
</table>

<h2>Scores</h2>

<%= partial '/scores/list', locals: {scores: skater.scores, paginate: false} %>
