<!-- components list -->

<% form_tag(url_for(:components, :list), method: 'post') do %>
<%= partial :select_form, locals: {tag: :component_number, options: (1..5).map(&:to_s)} %>

<div class="form-group row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    1: Skating Skills / 2: Transitions / 3: Performance / 4: Composition / 5: Interpretation
  </div>
</div>

<%= partial :select_form, locals: {tag: :skater_name,
    options: Skater.select(:name).order(:name).map(&:name)} %>
<%= partial :select_form, locals: {tag: :category,
    options: Score.select(:category).distinct.order(:category).map(&:category)} %>
<%= partial :select_form, locals: {tag: :segment,
    options: Score.select(:segment).distinct.order(:segment).map(&:segment)} %>
<%= partial :select_form, locals: {tag: :nation,
    options: Score.select(:nation).distinct.order(:nation).map(&:nation)} %>
<%= partial :select_form, locals: {tag: :competition_name,
    options: Competition.order("start_date DESC").map(&:name)} %>
<%= partial :select_form, locals: {tag: :format, options: ['html', 'csv']} %>

<%= partial :submit_form %>
<% end %>

<% limit = settings.config[:list][:limit] || 20 %>
<% page = (params[:page].presence || 1).to_i %>
<% components_limitted = components.limit(limit).offset((page-1)*limit) %>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Score ID</th>
    <th>Skater</th>
    <th>Competition</th>
    <th>Category</th>
    <th>Segment</th>
    <th>Number</th>
    <th>Component</th>
    <th>Factor</th>
    <th>Judges</th>
    <th>Score</th>
  </tr>
  <% components_limitted.each do |component| %>
  <% score = component.score %>
  <tr>
    <td><%= link_to(score.id, url_for(:scores, :id, id: score.id)) %></td>
    <td><%= score.skater.name %></td>
    <td><%= score.competition_name %></td>
    <td><%= score.category %></td>
    <td><%= score.segment %></td>
    <td><%= component.number %></td>
    <td><%= component.component %></td>
    <td><%= component.factor %></td>
    <td><%= component.judges %></td>
    <td><%= component.value %></td>
  </tr>
  <% end %>
</table>

<%= partial 'pagination', locals: {records: components, controller: :components, page: page} %>
