<!-- components list -->

<% form_tag(url_for(:components, :list), method: 'post') do %>
<%= partial :select_form, locals: {tag: :component_number, options: (1..5).map(&:to_s)} %>

<div class="form-group row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    1: Skating Skills / 2: Transitions / 3: Performance / 4: Composition / 5: Interpretation
  </div>
</div>

<%= partial :select_form, locals: {tag: :skater_name, options: Score.pluck(:skater_name).uniq.sort } %>
<%= partial :select_form, locals: {tag: :category, options: Score.pluck(:category).uniq.sort} %>
<%= partial :select_form, locals: {tag: :segment, options: Score.pluck(:segment).uniq.sort } %>
<%= partial :select_form, locals: {tag: :nation, options: Score.pluck(:nation).uniq.sort} %>
<%= partial :select_form, locals: {tag: :competition_name,
    options: Competition.order("start_date DESC").map(&:name)} %>
<%= partial :select_form, locals: {tag: :format, options: ['html', 'csv']} %>

<%= partial :submit_form %>
<% end %>

<% size = components.count %>
<% components = paginate(components) %>

<table class="table table-striped table-hover table-condensed">
  <%= partial "table_headers", locals: {table_headers: ["Score ID", :Skater, :Competition, :Category, :Segment, :Date, :Number, :Component, :Factor, :Judges, :Score]} %>
  <% components.each do |component| %>
  <% score = component.score %>
  <tr>
    <td><%= link_to(score.id, url_for(:scores, :id, id: score.id)) %></td>
    <td><%= score.skater_name %></td>
    <td><%= score.competition_name %></td>
    <td><%= score.category %></td>
    <td><%= score.segment %></td>
    <td><%= score.starting_time.try(:strftime, "%Y-%m-%d") %></td>
    <td><%= component.number %></td>
    <td><%= component.component %></td>
    <td><%= component.factor %></td>
    <td><%= component.judges %></td>
    <td><%= component.value %></td>
  </tr>
  <% end %>
</table>

<%= partial 'pagination', locals: {controller: :components, size: size} %>
