

<% form_tag(url_for(:elements, :list), method: 'post') do %>
<div class="form-group row">
  <div class="col-sm-2">
    <%= label_tag(:element) %>
  </div>
  <div class="col-sm-6">
    <%= text_field_tag(:element, :class=>"form-control", value: params[:element]) %>
  </div>
  <div class="col-sm-4">
    partial match: <%= check_box_tag(:partial_match, :class=>"form-check-input", checked: params[:partial_match].present?) %>
  </div>
</div>

<% score_filter_forms.each do |form| %>
  <%= partial :select_form, locals: {tag: form[0], options: form[1]} %>
<% end %>
<%= partial :submit_form %>
<% end %>


<% limit = settings.config[:list][:limit] || 20 %>
<% page = (params[:page].presence || 1).to_i %>
<% elements_limitted = elements.limit(limit).offset((page-1)*limit) %>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Score ID</th>
    <th>Skater</th>
    <th>Competition</th>
    <th>Category</th>
    <th>Segment</th>
    <th>Number</th>
    <th>Info</th>
    <th>Element</th>
    <th>Credit</th>
    <th>BV</th>
    <th>GOE</th>
    <th>Judges</th>
    <th>Score</th>
  </tr>
</td>
  <% elements_limitted.each do |element| %>
  <% score = element.score %>
  <tr>
    <td><%= link_to(score.id, url_for(:scores, :id, id: score.id)) %></td>
    <td><%= score.skater.name %></td>
    <td><%= score.competition_name %></td>
    <td><%= score.category %></td>
    <td><%= score.segment %></td>
    <td><%= element.number %></td>
    <td><%= element.info %></td>
    <td><%= element.element %></td>
    <td><%= element.credit %></td>
    <td><%= element.base_value %></td>
    <td><%= element.goe %></td>
    <td><%= element.judges %></td>
    <td><%= element.value %></td>
  </tr>
  <% end %>
</table>

<%= partial 'pagination', locals: {records: elements, controller: :elements, page: page, filter_keys: filter_keys} %>

