

<h2>Competition List</h2>

<% form_tag(url_for(:competitions, :list), method: 'post') do %>
<% opts = Competition.select(:competition_type).distinct.map(&:competition_type) %>
<%= partial :select_form, locals: {tag: :competition_type, options: opts} %>
<% opts = Competition.select(:season).distinct.map(&:season) %>
<%= partial :select_form, locals: {tag: :season, options: opts} %>
<%= partial :submit_form %>
<% end %>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>ID</th>
    <th>Competition</th>
    <th>City</th>
    <th>Country</th>
    <th>Abbr</th>
    <th>Type</th>
    <th>Season</th>
    <th>ISU Site</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% competitions.each do |competition| %>
  <tr>
    <td><%= competition.id %></td>
    <td><%= link_to(competition.name, url_for(:competitions, :id, id: competition.id)) %></td>
    <td><%= competition.city %></td>
    <td><%= competition.country %></td>
    <td><%= competition.abbr %></td>    
    <td><%= link_to(competition.competition_type, url_for(:competitions, :list, "competition_type:#{competition.competition_type}")) %></td>    
    <td><%= link_to(competition.season, url_for(:competitions, :list, "season:#{competition.season}")) %></td>    

    <td><%= link_to("ISU HP", competition.site_url) %></td>
    <td><%= competition.start_date %></td>
    <td><%= competition.end_date %></td>
  </tr>
  <% end %>
</table>
