<%= partial '/competitions/competition_info', locals: {competition: competition} %>
<!-- %= partial '/scores/list', locals: {scores: scores, paginate: true} % -->

<h2>Category: <%= params[:category] %></h2>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Rank</th>
    <th>Skater</th>
    <th>Nation</th>
    <th>Points</th>
    <th><%= (params[:category] =~ /DANCE/) ? 'SD' : 'SP' %></th>
    <th>Tss</th>
    <th><%= (params[:category] =~ /DANCE/) ? 'FD' : 'FP' %></th>
    <th>Tss</th>
  </tr>
  <% results.sort_by {|rec| (0 == (rank = rec[:rank])) ? Fixnum : rank }.each do |rec| %>
  <tr>
    <td><%= (rec.rank == 0) ? 'FNR/WD' : rec.rank %></td>
    <% begin %>
    <td><%= link_to_skater(rec.skater) %></td>
    <% rescue %>
    <% end %>
       
    <td><%= rec.nation %></td>
    <td><%= (rec.points == 0.0) ? '' : rec.points %></td>
    
    <% if short_score = competition.scores.where(skater_name: rec.skater_name).where("segment like(?)",  "%SHORT%").first %>
      <td><%= link_to(short_score.rank, url_for(:scores, :id, id: short_score.id)) %></td>
      <td><%= short_score.tss %></td>
    <% else %>
      <td></td><td></td>
    <% end %>
    <% if free_score = competition.scores.where(skater_name: rec.skater_name,).where("segment like(?)", "%FREE%").first %>
      <td><%= link_to(free_score.rank, url_for(:scores, :id, id: free_score.id)) %></td>
      <td><%= free_score.tss %></td>
    <% else %>
      <td></td><td></td>
    <% end %>
  </tr>
  <% end %>
</table>
