<!-- locals: scores -->

<h2>Score List</h2>

<!-- form -->
<% form_tag(url_for(:scores, :list), method: 'post') do %>

<!-- %= partial :select_form, locals: {tag: :skater_name, options: Score.pluck(:skater_name).uniq.sort} % -->
<!-- = partial :text_field_form, locals: {label: "(or input)", tag: :skater_name} % -->
<% [:skater_name, :category, :segment, :nation].each do |key| %>
  <%= partial :select_form, locals: {tag: key, options: Score.pluck(key).uniq.sort} %>
<% end %>
<%= partial :select_form, locals: {tag: :competition_name, options: Competition.order("start_date DESC").map(&:name)} %>
<%= partial :select_form, locals: {tag: :format, options: ['html', 'csv']} %>

<%= partial :submit_form %>

<% end %>

<!-- list -->
<%= partial 'scores/list', locals: {scores: scores, paginate: true} %>


