<!-- locals: score_filter_forms, scores -->

<h2>Score List</h2>

<!-- form -->
<% form_tag(url_for(:scores, :list), method: 'post') do %>

<%= partial :select_form, locals: {tag: :skater_name,
    options: Skater.select(:name).order(:name).map(&:name)} %>
<%= partial :select_form, locals: {tag: :category,
    options: Score.select(:category).distinct.order(:category).map(&:category)} %>
<%= partial :select_form, locals: {tag: :segment,
    options: Score.select(:segment).distinct.order(:segment).map(&:segment)} %>
<%= partial :select_form, locals: {tag: :nation,
    options: Score.select(:nation).distinct.order(:nation).map(&:nation)} %>
<%= partial :select_form, locals: {tag: :competition_name,
    options: Competition.order("start_date DESC").map(&:name)} %>
<%= partial :select_form, locals: {tag: :format, options: ['html', 'csv']} %>

<%= partial :submit_form %>

<% end %>

<!-- list -->
<%= partial 'scores/list', locals: {scores: scores, paginate: true} %>


