<% error = @competition.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @competition.errors.include?(:city) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :city, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :city, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:city) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @competition.errors.include?(:country) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :country, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :country, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:country) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @competition.errors.include?(:start_date) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :start_date, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :start_date, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:start_date) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @competition.errors.include?(:end_date) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :end_date, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :end_date, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:end_date) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:competitions, :index), :class => 'btn btn-default' %>
</div>